body {
  background: url(https://i.imgur.com/wvunc.jpg);
  background-size: cover;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
}

section {
  text-align: right;
}

#temperature {
  position: absolute;
  right:10%;
  font-size: 32px;
  margin-right: 50px;
}

/*aside {
  position:absolute;
  top: 10%;
  right: 10%;
}*/
#down {
position: absolute;
top: 10%;
right:5%;
width:50px;

}

#up {
position: absolute;
top: 10%;
right:5%;
margin-right: 50px;
width:50px;
}

 #temperature {
position: absolute;
top: 10%;
 }



